.dashboard-container {
  text-align: center;
  padding: 20px;
}

.dashboard-header {
  margin-bottom: 20px;
}

.videos-list-container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.video-item {
  display: table-row;
  border: 1px solid #ddd;
  margin: 5px 0;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.video-item:hover {
  background-color: #e6e6e6; /* Darker shade color on hover */
}

.heading-row {
  font-weight: bold;
}

.video-item td {
  padding: 8px;
  text-align: center;
}

.video-item td:first-child {
  text-align: left;
}

.video-item input {
  margin-right: 5px;
}

.video-item.selected {
  background-color: #e6e6e6; /* Add your preferred darker shade color here */
}

/* Exclude heading from hover effect */
.video-item.heading-row:hover {
  background-color: transparent;
}
